@tailwind base;
@tailwind components;
@tailwind utilities;

/* For WebKit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* For Firefox */
div {
  scrollbar-width: thin; /* For Firefox */
}

div::-webkit-scrollbar {
  width: 10px;
  right: 0; /* Adjust this to place the scrollbar at the right edge */
}

div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
